
<h2>About probless</h2>

<p>probless is a web app which has the features below.</p>

<ul>
    <li>Collect problems</li>
    <li>Vote agreement to problems</li>
    <li>Collect solutions for problems</li>
    <li>Find people to solve problems together</li>
</ul>
<br>


<h2>Motivations</h2>

There are two reasons that this web app was developed.

<h3>1. Create ideas based on problems</h3>

<p>We as techies sometimes or often create new ideas which are based on technologies.
However, such ideas from technologies as seeds do not always solve big and/or ciritcal problems from other people's needs, because the ideas are created just for utilizing the technologies, not solving problems.

This might be one of root causes that noboday want such ideas.</p>

<p>So, we probably need to start creating ideas from problems which someone really want to solve.
This probless helps to collect problems from anyone, and let other ones know that there are same problems which you also have.

probless also shows how many people agree with the problems that explain which problems need to be solved with priority.
</p>

<p>Our life is not so long.

We have to focus on high priority problems rather than small ones.</p>


<h3>2. Find other people who want to solve problems together</h3>

<p>This probless also show solutions for problems,
and help to find other people who really want to solve problems together.
Or, anyone can propose better solution than other ones.</p>

<p>Such collaborations and/or productive discussions are expected in this probless to make people, both who had problems and who solved problems, happy</p>
