
<div class="row">
    <div class="hero-unit text-center span7">
        <header>
            <h1 class="text-center">probless</h1>
        </header>
        <br>

        <div>
            <p><strong>progless</strong> aims to minimize problems as less as possible<br>
                by collecting problems from anyone and<br> binding them to others who can give advice or solve the problems.</p>
            </div>
            <br>

            <a href="#about" class="btn btn-primary btn-large">Learn more</a>
        </div>

        <div class="span3" id="signup-container">
            <input class="span3" type="text" id="inputNickname" placeholder="Nickname">
            <input class="span3" type="text" id="email" placeholder="Email (option)">
            <input class="span3" type="password" id="password" placeholder="Password">
            <input class="span3" type="password" id="password2" placeholder="Password again">
            <br>
            <button type="submit" class="btn btn-success btn-large span3" id="signup">Sign up for free</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="span6">
        <h2>Problems</h2>
        <p>You can submit and see problems</p>
        <a href="#problems" class="btn">View problems</a>
    </div>

    <div class="span6">
        <h2>Solutions</h2>
        <p>You can submit and see solutions</p>
        <a href="solutions" class="btn">View solutions</a>
    </div>
</div>
