
$bodyBackground: #ffd;
$iconSpritePath: "../images/glyphicons-halflings.png";
$tableBackgroundAccent: #fff;
$heroUnitBackground: transparent;

@import 'sass-bootstrap/lib/bootstrap';


.hero-unit {
    padding: 12px;
    margin: 0;
}

#title {
    color: $grayDark;
    text-decoration: none;
}

#search {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.table_title {
    font-size: 20px;
    margin-bottom: 10px;
}

.table th {
    background-color: #fea;
    text-align: center;
    align: center;
}

#login-view {
    margin-top: 20px;
}
