<br>
<div class="container">
<div class="row">
<form class="form-horizontal span8">
    <div class="control-group">
        <div class="controls">
            <div id="submit-alert"></div>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <span class="text-error">* required</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="title">Title <span class="text-error">*</span></label>
        <div class="controls">
            <input type="text" class="input-xxlarge" id="title" placeholder="Title" disabled>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <textarea id="description" class="input-xxlarge" placeholder="Description" rows="10" disabled></textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="tag">Tag</label>
        <div class="controls" id="tag">
            <div class="btn-group">
                <button class="btn">Tech</button>
                <button class="btn">Life</button>
                <button class="btn">Misc.</button>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="nickname">Nickname</label>
        <div class="controls">
            <label class="input-xlarge uneditable-input" id="nickname"></label>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="edit" class="btn btn-primary">Edit</button>
            <button id="remove" class="btn">Remove</button>
        </div>
    </div>
</form>
</div>
</div>
