<br>
<div class="row">
<form class="form-horizontal span8 offset3">
    <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input type="text" class="input-xxlarge" id="title" placeholder="Title">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <textarea id="description" class="input-xxlarge" placeholder="Description" rows="10"></textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="tag">Tag</label>
        <div class="controls" id="tag">
            <div class="btn-group">
                <button class="btn">Tech</button>
                <button class="btn">Life</button>
                <button class="btn">Misc.</button>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="nickname">Nickname</label>
        <div class="controls">
            <select id="nickname-visible">
                <option>Invisible</option>
                <option>Visible</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
</div>
